        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
<!-- Content block -->
        <!-- Content block -->
        {% block content %}
        <div class="container">
            <!-- <form>
                <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
                <input type="submit"  value="Submit" class="btn btn-default">
            </form> -->
          <!-- Sport news -->
        <h3 class="center" style="font-weight:bold; text-align:center;"> Sports news</h3>
        <ul>
            {{ macro.displaySourceList(sports)}}
        </ul>
        <!-- general news  -->
        <h3 class="center" style="font-weight:bold; text-align:center;"> General news </h3>
        <ul>
            {{ macro.displaySourceList(general)}}
        </ul>
        <!-- business news -->
        <h3 class="center" style="font-weight:bold; text-align:center;">Business news</h3>
        <ul>
            {{ macro.displaySourceList(business)}}
        </ul>
        <h3 class="center" style="font-weight:bold; text-align:center;">Technology news</h3>
        <ul>
            {{ macro.displaySourceList(technology)}}
        </ul>
        
        {% endblock%}